# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# BRITE

BRITE

# External Library
app/libs/**
!app/libs/.gitkeep

# Vs Code Settings (IDE)
.vscode

# Debugging binary files
app/bin
